.header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  margin-bottom: 30px;
}

.header .header__wrapper {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__wrapper .header__link {
  width: 200px;
}

.header__wrapper .header__icon-list {
  display: flex;
}

.header__icon-list .header__icon-link {
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.header__wrapper .header__input {
  background-color: #fafafa;
  border: 0;
  width: 220px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
}

.header .header__input:focus {
  outline: none;
  background-color: white;
}

/**.header .header__input:hover {
  background-color: pink;
}**/
