{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
    <title>{%block potato%}base{%endblock%} |Jasminpro</title>
</head>

<body>
    <header class="header">
        <div class="header__wrapper">
            <a href="feed.html" class="header__link">
                <img src="{% static 'images/logo.png'%}" class="header__logo" />
            </a>
            <input type="search" placeholder="Search" class="header__input" />
            <ul class="header__icon-list">
                <li class="header__icon">
                    <a href="{% url 'explore'%}" class="header__icon-link">
                        <i class="fa fa-compass fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="header__icon">
                    <a href="#" class="header__icon-link">
                        <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="header__icon">
                    <a href="{% url 'profile'%}" class="header__icon-link">
                        <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!--These are columns-->

    {%block content%} {%endblock%}
</body>

<!-- This is simple way to make test 1 : Footer>(nav>ul>li*9[a href="#"])+span{@ 2018 jasminepro}   -->
{% include "partials/footer.html" %}

</body>

</html>