{% extends "base.html" %} {%block potato%}IamFeed{%endblock%} {% block content %}
<!-- This are the COLUMNS -->
<main class="feed">
    <section class="photos">
        {% for image in all_images %}
        <article class="photo">
            <header class="photo__header">
                <img src "images/avatar.jpg" class="photo__avatar" />
                <div class="photo__info">
                    <span class="photo__owner">{{image.author.username}}</span>
                    <span class="photo__place">{{image.location}}</span>
                </div>
            </header>
            <img src="/media/{{image.file}}" class="photo__file" />
            <div class="photo__feedback">
                <div class="photo__actions">
                    <div class="photo__action-column">
                        <i class="fa fa-heart-o fa-lg"></i>
                        <i class="fa fa-comment-o fa-lg"></i>
                    </div>
                    <div class="photo__action-column">
                        <i class="fa fa-bookmark-o fa-lg"></i>
                    </div>
                </div>
                <span class="photo__likes">{{image.count_likes}} likes</span>
                {% for comment in image.comment_set.all %}
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">{{comment.created_by.username}}

                        </span>
                        {{comment.message}}
                    </li>
                    {% endfor %}
                </ul>
                <span class="photo__timestamp">{{imange.created_at}}</span>
                <div class="photo__make-comment">
                    <textarea placeholder="Add a comment.."></textarea>
                    <i class="fa fa-ellipsis-h "></i>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>
    <section class="photos">
        <article class="photo">
            <header class="photo__header">
                <img src="images/avatar.jpg" class="photo__avatar" />
                <div class="photo__info">
                    <span class="photo__owner">{{email}}</span>
                    <span class="photo__place">Chiang Mai, Thailand</span>
                </div>
            </header>
            <img src="images/feedPhoto.jpg" class="photo__file" />
            <div class="photo__feedback">
                <div class="photo__actions">
                    <div class="photo__action-column">
                        <i class="fa fa-heart-o fa-lg"></i>
                        <i class="fa fa-comment-o fa-lg"></i>
                    </div>
                    <div class="photo__action-column">
                        <i class="fa fa-bookmark-o fa-lg"></i>
                    </div>
                </div>
                <span class="photo__likes">51 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">
                            nicolas
                        </span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                </ul>
                <span class="photo__timestamp">12 hours ago</span>
                <div class="photo__make-comment">
                    <textarea placeholder="Add a comment.."></textarea>
                    <i class="fa fa-ellipsis-h "></i>
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock %}