<footer class="footer">
    <nav class="footer__navigation">
        <ul class="footer__list">
            <li class="footer__list-item">
                <a href="#" class="footer_link">About us</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Support</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Blog</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Press</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Api</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Jobs</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Privacy</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Terms</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Directory</a>
            </li>
            <li class="footer__list-item">
                <a href="#" class="footer_link">Language</a>
            </li>
        </ul>
    </nav>
    <span>@ 2018 jasminepro</span>
</footer>